* {
  margin: 0;
  /* outline: 1px solid red; */
}

body{
  height: 1000px;
  padding: 40px 100px 0 0 ;
}

.background-image{
  width: 100%;
  height: 100%;
  background-color: black;
  margin: 20px; 
  border: 9px solid grey;
  margin: 40px;
  position: relative;
}

.selector{
  display: inline-block;
  height: 21%;
  width: 15%;
  margin: 250px 0 0 40%; 
  background-color: grey;
  border-radius: 10px;
  border: 6px solid rgb(90, 85, 85);
  opacity: 0.7
}

.stage-select{
  color: white;
  text-align: center;
  margin: 5% 0 0 0;
  color: rgb(211, 150, 71);
  text-shadow: 2px 1px white;
  font-size: 50px;
}

.button-container{
  margin: 25px 0 0 40px; 
}

.selector button{
  height: 40px;
  width: 95px;
  margin: 5px 0 0 0px;
  border-radius: 5px;
  font-size: 17px;
}

.player-one-ninja{
  display: inline-block;
  vertical-align: bottom;
  top: 530px;
  left: 400px;
  position: absolute;
}

.player-two-ninja{
  display: inline-block;
  top: 530px;
  right: 400px;
  position: absolute;
}

.player-two{
  margin: 0 0 0 80px
}